@model OnlineProdajaPica.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .fb {
            background-color: #3B5998;
            color: white;
            width: 100%;
            padding: 12px;
            border: none;
            border-radius: 4px;
            opacity: 0.85;
            font-size: 17px;
            line-height: 20px;
        }
        .fb:hover{
            opacity:1;
            color:white;
        }

    </style>
</head>


<h4>Upotrijebite drugi servis za prijavu.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                <button type="submit" class="btn fb" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Prijava putem @p.Caption računa">
                    <i class="fa fa-facebook fa-fw"></i>@p.AuthenticationType prijava
                </button>                    }
                </p>
            </div>
        }
    }
}
