@model OnlineProdajaPica.ViewModels.OrderDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Narudžba ID: @Model.Order.Id</h2>

<div>
    <h4>Narudžbu poslao/la: <b>@Model.Username</b></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            User ID
        </dt>
        <dd>
            @Model.CustomerInfo.UserId
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            Ime i prezime
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerInfo.Name)
        </dd>
        <dt>
            Država
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerInfo.Country)
        </dd>
        <dt>
            Adresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerInfo.Address)
        </dd>
        <dt>
            Grad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerInfo.City)
        </dd>
        <dt>
            Poštanski broj
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerInfo.PostalCode)
        </dd>
        <dt>
            Vrijeme narudžbe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.DatumNarudzbe)
        </dd>
        <dt>
            Status
        </dt>
        @if(Model.Order.Dostavljeno == true)
        {
            <dd>Dostavljeno</dd>
        }
        else
        {
            <dd>Nije dostavljeno</dd>
        }

    </dl>
</div>

<table class="table">
    <tr>
        <th>Naziv proizvoda</th>
        <th>Količina</th>
    </tr>
    @foreach (var item in Model.Products)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Quantity</td>
        </tr>
    }
</table>

<h4>Ukupno: @Model.Order.UkupnaCijena.ToString("0.00") kn</h4>

@if (Model.Order.Dostavljeno == false)
{
<div class="text-center">
    @Html.ActionLink("Označi kao dostavljeno", "MarkAsDelivered", new { id = Model.Order.Id }, new { @class = "btn btn-success"})
</div>
    
}

<p>
    @Html.ActionLink("Sve narudžbe", "Index", new { id = Model.Order.Id }, new { @class = "btn btn-default" })
</p>
