@model OnlineProdajaPica.ViewModels.OrderDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Narudžba ID: @Model.Order.Id</h2>

<div>
    <h4>Narudžbu poslao/la: <b>@Model.Username</b></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            User ID
        </dt>
        <dd>
            @Model.CustomerInfo.UserId
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            Vrijeme narudžbe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.DatumNarudzbe)
        </dd>

    </dl>
</div>

<table class="table">
    <tr>
        <th>Naziv proizvoda</th>
        <th>Količina</th>
    </tr>
    @foreach (var item in Model.Products)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Quantity</td>
        </tr>
    }
</table>

@if (Model.Order.Dostavljeno == false)
{
<div class="text-center">
    @Html.ActionLink("Označi kao dostavljeno", "MarkAsDelivered", new { id = Model.Order.Id }, new { @class = "btn btn-default"})
</div>
    
}

<p>
    @Html.ActionLink("Sve narudžbe", "Index")
</p>
