@model IEnumerable<OnlineProdajaPica.ViewModels.OrdersViewModel>

@{
    ViewBag.Title = "Index";
    string boja;
}

<h2>Narudžbe</h2>

<br/>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                Narudžba
            </th>
            <th style="text-align:center;">
                Vrijeme narudžbe
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.Dostavljeno == true)
            {
                boja = "success";
            }
            else
            {
                boja = "warning";
            }
<tr class="@boja">
    <td>
        <b>@Html.DisplayFor(modelItem => item.Username)</b>
    </td>
    <td>
        @foreach (var product in item.Products)
        {
<p>@product.Name - @product.Quantity</p>}
    </td>
    <td>
        <p style="text-align:center;">
            @Html.DisplayFor(modelItem => item.DatumNarudzbe)
        </p>

        @if (item.Dostavljeno == false)
        {
<div style="display:block;text-align:center;">
    @Html.ActionLink("Označi kao dostavljeno", "MarkAsDelivered", new { id = item.Id }, new { @class = "btn btn-default" })
</div> }
                else
                {
<p style="text-align:center;">Dostavljeno</p>}
    </td>
    <td>
        @Html.ActionLink("Opširnije", "Details", new { id = item.Id })
    </td>
</tr>}
    </table>
</div>

