@model IEnumerable<OnlineProdajaPica.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Košarica</h2>

<br />
@if (!Model.Any())
{
    <h3 style="color:red">Košarica je prazna...</h3>
    @Html.ActionLink("Dodaj proizvode", "Index", "Products", "", new { @class = "btn btn-primary" })
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @{ 
                    string nameofForm = "changeQuantityForm" + item.Id;
                    string nameofInput = "changeQuantityInput" + item.Id;
                }
                 @using (Html.BeginForm("ChangeQuantity", "Cart", new { id=item.Id}, FormMethod.Post, new { @id = nameofForm }))
                 {
                     <td>
                        @*@Html.DisplayFor(modelItem => item.Quantity)*@
                        <input id="@nameofInput" type="number" min="1" value="@item.Quantity" name="quantity" onchange="myFunction(@item.Id)"/>
                    </td>

                 }
                
                <td>
                    @Html.ActionLink("Izbriši", "RemoveFromCart", new { id = item.Id })
                </td>
            </tr>
        }
    </table>


    @Html.ActionLink("Pošalji naružbu", "SendOrder", "", htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink("Nastavi kupovinu", "Index", "Products", "", new { @class = "btn btn-default" })
}

<script>
    function myFunction(id) {
        var nameofForm = 'changeQuantityForm' + id;
        var nameofInput = 'changeQuantityInput' + id;
        var form = document.getElementById(nameofForm);
        var myInput = document.getElementById(nameofInput);

        if (myInput.value >= 1) {
            form.submit();
        } 
    }
</script>