@model IEnumerable<OnlineProdajaPica.Models.Product>
@{
    ViewBag.Title = "Home Page";
    var index = 0;
    var categories = OnlineProdajaPica.Controllers.HomeController.GetCategories();
}

<head>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>

<style>
    .swiper {
        width: 100%;
        height: 250px;
        padding: 10px;
    }

    .swiper-slide {
        text-align: center;
        width: 33%;
        margin-right: 0px;
    }

    .swiper-slide-active {
        margin-right: 0px;
    }

    .swiper-slide-next {
        margin-right: 0px;
    }

    .price__ul {
        top: 2px;
    }

    .h4 {
        font-size: clamp(14px, 2.5vw, 20px);
    }
</style>

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@

<br />
<div class="banHighlight" style="border: 3px outset gray; border-radius:10px;">
    <div class="tab">
        <div class="row">
            <button id="defaultCategory" class="tablinks col-xs-4 col-sm-3" onclick="showSwiper(event, 'Voda-swiper')">Voda</button>
            <button class="tablinks col-xs-4 col-sm-2" onclick="showSwiper(event, 'Sokovi-swiper')">Sokovi</button>
            <button class="tablinks col-xs-4 col-sm-2" onclick="showSwiper(event, 'Pivo-swiper')">Pivo</button>
            <button class="tablinks col-xs-6 col-sm-2" onclick="showSwiper(event, 'Vino-swiper')">Vino</button>
            <button class="tablinks col-xs-6 col-sm-3" onclick="showSwiper(event, 'Alkoholna-swiper')">Alkoholna pića</button>
        </div>        
    </div>

    @foreach (var item in categories)
    {
        var kategorija = "";
        if (item.Name == "Alkoholna pića")
        {
            kategorija = "Alkoholna";
        }
        else
        {
            kategorija = item.Name;
        }
        <div id="@kategorija-swiper" class="tabcontent">
            <div class="swiper mySwiper swiper-initialized swiper-horizontal swiper-pointer-events">
                <div class="swiper-wrapper" id="swiper-wrapper-20912caf49a53244" aria-live="polite" style="transition-duration: 0ms; transform: translate3d(-1266px, 0px, 0px);">
                    @foreach (var product in Model)
                    {
                        if (product.Category.Name == item.Name)
                        {
                            var label = (index + 1);
                            <div class="swiper-slide col-xs-6" data-swiper-slide-index="@index" role="group" aria-label="@label / @Model.Count()" style="margin-right:0px;">
                                <div>
                                    <div style="text-align:center; margin-top:10px; width:50%; float:left; max-width:100px; height:200px; display: flex; justify-content: center; align-items: center;">
                                        <img src="~/img/products/@product.ImageUrl" style="width:100%" />
                                    </div>
                                    <div class="pull-left" style="padding-top:10px; width:50%; float:right;">
                                        <div style="text-align:center;">
                                            <div style="padding-top:10px; margin-top:10px; height:60px; overflow:hidden;">
                                                @Html.ActionLink(product.Name, "Details", "Products", new { id = product.Id }, new { @class = "h4" })
                                            </div>
                                            <div style="display:block; padding-top:10px; padding-bottom:10px">
                                                <div class="price ">
                                                    <span class="price--kn">@((int)product.Price)</span>
                                                    <div class="price__ul">
                                                        @{ int broj = (int)((product.Price - Math.Truncate(product.Price)) * 100); }
                                                        <span class="price--li">@broj</span>
                                                        <small class="price--c">kn/kom</small>
                                                    </div>
                                                </div>
                                            </div>
                                            @Html.ActionLink("Dodaj", "Details", "Products", new { id = product.Id }, new { @class = "btn btn-success" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            index += 1;
                        }
                    }
                </div>
                <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-20912caf49a53244"></div>
                <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-20912caf49a53244"></div>
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
        </div>
    }
</div>


<script src="https://unpkg.com/swiper@7.0.6/swiper-bundle.min.js"></script>

<script>


    

</script>
<script>
    document.onload = setSlides();
    var swiper;
    function setSlides() {
        if (window.innerWidth < 1000) {
            swiper = new Swiper(".mySwiper", {
                slidesPerView: 2,
                spaceBetween: 10,
                slidesPerGroup: 2,
                loop: true,
                loopFillGroupWithBlank: true,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });
        } else {
            swiper = new Swiper(".mySwiper", {
                slidesPerView: 3,
                spaceBetween: 30,
                slidesPerGroup: 3,
                loop: true,
                loopFillGroupWithBlank: true,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });
        }
    }
    var timeOut = null;

    window.onresize = function () {
        if (timeOut != null)
            clearTimeout(timeOut)
        timeOut = setTimeout(function () {
            setSlides();
        }, 500);
    }; 
</script>
<script>
    function showSwiper(evt, swiperName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(swiperName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("defaultCategory").click();
</script>